@model IEnumerable<Commpay.Models.Venda>
@using Commpay.Models.Enums

@{
    ViewData["Title"] = "Entregas";
}

<h1>Entregas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                Data da Compra
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entregador)
            </th>
            <th>
                Previsão de Entrega
            </th>
            <th>
                Status
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entregador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Entrega)
            </td>

                <td>
                    @if (item.Status == null || item.Status == Status.Pendente)
                    {
                        <span class="badge bg-danger"><i class="bi bi-exclamation-triangle-fill"></i>  Pendente</span>
                    }
                    else if (item.Status == Status.Andamento)
                    {
                        <span class="badge bg-warning"><i class="bi bi-hourglass-split"></i> Em Andamento</span>
                    }
                    else if (item.Status == Status.Entregue)
                    {
                        <span class="badge bg-success"><i class="bi bi-check-circle-fill"></i>  Entregue</span>
                    }
                </td>



            <td>
               
                    <!-- Button trigger modal -->
                    <button type="button" class="btn com-btn-primary" data-bs-toggle="modal" data-bs-target="#editStatus_@item.Id">
                        <i class="bi bi-truck"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="editStatus_@item.Id" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Informações de Entrega</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                   
                                        <form asp-action="Edit" asp-route-id="@item.Id" method="post">

                                    <div class="row">
                                        <div class="col-6">
                                            <label class="form-label label-title">Nome do Vendedor</label>
                                            <input class="form-control" type="text" placeholder="@item.Vendedor" disabled>
                                        </div>

                                        <div class="col">
                                            <label class="form-label label-title">Data da Compra</label>
                                            <input class="form-control" type="text" placeholder="@item.Data_Compra" disabled>
                                        </div>
                                    </div>

                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="form-label label-title">Entregador</label>
                                                <select class="form-select" name="Entregador">
                                                    <option value="@item.Entregador" selected>@item.Entregador</option>
                                                </select>
                                            </div>

                                        <div class="col">
                                            <label class="form-label label-title">Previsão de Entrega</label>
                                            <input class="form-control" type="text" placeholder="@item.Data_Entrega" disabled>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                            <div class="col">
                                                <label class="form-label label-title">Status da Entrega</label>
                                                <select class="form-select" name="Status">
                                                    @if (item.Status == null || item.Status == Status.Pendente)
                                                    {
                                                        <option value="@((int)Status.Pendente)" selected>Pendente</option>
                                                        <option value="@((int)Status.Andamento)">Em Andamento</option>
                                                        <option value="@((int)Status.Entregue)">Entregue</option>
                                                    }
                                                    else if (item.Status == Status.Andamento)
                                                    {
                                                        <option value="@((int)Status.Andamento)" selected>Em Andamento</option>
                                                        <option value="@((int)Status.Pendente)">Pendente</option>
                                                        <option value="@((int)Status.Entregue)">Entregue</option>
                                                    }
                                                    else if (item.Status == Status.Entregue)
                                                    {
                                                        <option value="@((int)Status.Entregue)" selected>Entregue</option>
                                                        <option value="@((int)Status.Andamento)">Em Andamento</option>
                                                        <option value="@((int)Status.Pendente)">Pendente</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer mt-3">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                            <button type="submit" class="btn com-btn-primary">Confirmar</button>
                                        </div>
                                        </form>
                                    </div>


                                        

                                    


                                </div>
                                

                                

                            </div>
                        </div>
                    

            </td>
        </tr>
}
    </tbody>
</table>









