@model Commpay.Models.Produto

@{
    ViewData["Title"] = "CommPay | Apagar Produtos"; 
}

<h3>Deseja realmente apagar esse produto?</h3>
<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> 
        <input type="button" value="Voltar" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'" />
    </form>    
</div>
